* {
  justify-content: center;
}
:root {
  --color-bg: #fff;
  --text-bg: red;
}
.card-items {
  text-align: center;
}
.productImage {
  height: 120px;
  width: auto;
}
.cardLay:hover {
  transform: scale(1.03);
  transition: 0.7s;
}
.cardLay {
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  border: none !important;
  border-radius: 0px;
  width: 15rem;
  height: 30rem;
}
.card-text {
  font-size: 10px;
}
.btn {
  margin: 20px;
}
.btpBtn {
  background: #d5a249 !important;
  border: none !important;
  margin: 0;
}
.user-rating {
  background: green;
  margin: 10px 0px 0px;
  font-size: 13px;
  width: 35px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  color: var(--color-bg);
}
.product-pricing {
  margin: 6px;
  text-align: left;
}
.wrapper {
  text-align: center;
}
.card-body {
  text-align: left;
  color: var(--color-text);
  text-align: center;
}
p {
  font-size: 10px;
}
.card-title {
  font-size: 16px;
  overflow: hidden;
  height: 20px;
  color: var(--color-text);
}
.round-btn {
  border: none;
  font-size: 20px;
}
.round-btn svg {
  color: var(--color-bg) !important;
  background: #d5a249;
  padding: 3px;
  vertical-align: middle;
  font-size: 10px;
}
.modal-body {
  background: var(--color-bg);
}
.modal-header {
  background: var(--color-bg);
}
.modal-title {
  background: var(--color-bg);
}
.card-img-top {
  margin: 8px;
}
.offcanvas-backdrop.show {
  opacity: 0.1 !important;
}
.offcanvas-body img {
  width: 130px;
  padding: 10px;
}
.offcanvas-body {
  padding: 0 !important;
}
.off-item {
  background:var(--color-bg);
  text-align: center;
}
.off-body {
  padding: 15px;
  font-size: 11px;
}
.off-order {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px;
  padding: 5px 15px;
}
.counter-item svg {
  vertical-align: middle;
}
.off-counter {
  justify-content: space-between;
}
.text-13 {
  font-size: 13px;
}
.off-btn button {
  width: 100%;
  border: none;
  background-color: #d5a249;
  color: var(--color-bg) !important;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
}

.card-img-top {
  width: 50% !important;
  margin: 0 auto;
}
