*{
    justify-content: center;
}
:root {
     --color-bg:#fff;  
}
.card-items{
    text-align: center;
}
.productImage{
    height: 200px;
    width: auto;
}
.cardLay:hover{
    box-shadow: 0 0 10px 5px rgba(173, 173, 173, 0.479);
    transform: scale(1.03);
    transition: 0.7s;
}
.cardLay{
    border-radius: 0px;
    width: 15rem;
    height: 30rem;
}
.card-text{
    font-size: 10px;
}
.btn{
    margin: 20px;
}
.user-rating{
    background: green;
    margin: 10px 0px 0px;
    font-size: 13px;
    width: 35px;
    text-align: center;
    border-radius: 5px;
    color: var(--color-bg);
}
.product-pricing{
    margin: 10px 0px 0px;
}
.wrapper{
    text-align: center;
}
.card-body {
    text-align: left;
    color: var(--color-text);
}
p {
    font-size: 10px;
}
.card-title {
    font-size: 16px;
    overflow: hidden;
    height: 20px; 
    color: var(--color-text);
}
.round-btn{
    border: none;
    font-size: 20px;
}
.modal-body {
    background: white;
    display: flex
}
.modal-header {
    background: white;
}
.modal-title {
    background: white;
}
.card-img-top{
    margin: 8px;
}