* {
  justify-content: center;
}
:root {
  --color-bg: #fff;
}
.card-items {
  text-align: center;
}
.productImage {
  height: 200px;
  width: auto;
}
.cardLay:hover {
  transform: scale(1.03);
  transition: 0.7s;
}
.cardLay {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0px;
  width: 15rem;
  height: 30rem;
}
.card-text {
  font-size: 10px;
}
.btn {
  margin: 20px;
}
.btpBtn{
  background: #d5a249 !important;
  border: none !important;
}
.user-rating {
  background: green;
  margin: 10px 0px 0px;
  font-size: 13px;
  width: 35px;
  text-align: center;
  border-radius: 5px;
  color: var(--color-bg);
}
.product-pricing {
  margin: 10px 0px 0px;
}
.wrapper {
  text-align: center;
}
.card-body {
  text-align: left;
  color: var(--color-text);
}
p {
  font-size: 10px;
}
.card-title {
  font-size: 16px;
  overflow: hidden;
  height: 20px;
  color: var(--color-text);
}
.round-btn {
  border: none;
  font-size: 20px;
}
.modal-body {
  background: white;
}
.modal-header {
  background: white;
}
.modal-title {
  background: white;
}
.card-img-top {
  margin: 8px;
}
.offcanvas-backdrop.show {
  opacity: 0.1 !important;
}
.offcanvas-body img {
  width: 130px;
  padding: 10px;
}
.offcanvas-body {
  padding: 0 !important;
}
.off-item {
  background: white;
  text-align: center;
}
.off-body {
  padding: 15px;
  font-size: 11px;
}
.off-order {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px;
  padding: 5px 15px;
}
.counter-item svg{
  vertical-align: middle;
}
.off-counter{
  justify-content: space-between;
}
.text-13{
  font-size: 13px;
}
.off-btn button{
  width: 100%;
    border: none;
    background-color: #d5a249;
    color: #fff!important;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
}