.img{
    width:auto;
    height:200px;
    transform: scale(1);
    
}
.cardWidth{
    width:235px;
    border-radius: 10px;
}
.button1{
    margin-bottom: 20px;
    border:none;
    border-radius: 5px;
    background-color: antiquewhite;
    padding:5px;
    
}
.cardWidth:hover{
    box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253);
}
.img:hover{
    transform: scale(1.1);
}
.max-content{
    overflow: hidden;
    height: 95px;
}
.card-title {
    overflow: hidden;
    height: 20px;
}
