*{  
  font-family: cursive;
}
.navbar-brand {
  font-size: 25px !important;
  font-weight: 600;
}
.cart-icon {
  height: 14px;
  vertical-align: middle;
}
a :hover{
  color:gray ;
}
.me-auto span {
  padding: 5px;
  vertical-align: middle;
}
.noti-cart {
  margin: 6px;
  top: -14px;
  left: 0px;
  background: #d5a249;
  color: white;
  height: 18px;
  padding: 0px 6px !important;
  width: 18px;
  border-radius: 50%;
  font-size: 13px;
}
.me-auto a{
  padding: 5px !important;
  text-decoration: none;
  color: gray;
}
